python-dotenv

langchain
langchain-core
langchain-community

#LLM Providers
langchain-openrouter
langchain_groq
langchain-text-splitters

# Vector Stores
langchain-qdrant
qdrant-client

#Notebooks
jupyter
ipykernel

#Web App
streamlit

#LLM Gateway
portkey-ai
langchain-openai

#every gateway gives us a openai compatible request, so we can switch between them easily
